.my_dashboard_header_flex {
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .my_dashboard_header_flex {
    min-height: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .my_dashboard_header_flex {
    min-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .my_dashboard_header_flex {
    min-height: 300px;
  }
}
